In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [7]:
# Import the data
temp = pd.read_csv('temperature_change_data_11-29-2021.csv')
temp.columns

Index(['Domain Code', 'Domain', 'Area Code (ISO3)', 'Area', 'Element Code',
       'Element', 'Months Code', 'Months', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description'],
      dtype='object')

In [8]:
# Check the basic statistics
temp.describe()

       Element Code   Months Code     Year Code          Year         Value
count       67625.0  67625.000000  67625.000000  67625.000000  65331.000000
mean         7271.0   7018.000000   1991.306248   1991.306248      0.491524
std             0.0      1.414224     17.333343     17.333343      0.820116
min          7271.0   7016.000000   1961.000000   1961.000000     -5.979000
25%          7271.0   7017.000000   1976.000000   1976.000000     -0.011000
50%          7271.0   7018.000000   1992.000000   1992.000000      0.410000
75%          7271.0   7019.000000   2006.000000   2006.000000      0.932000
max          7271.0   7020.000000   2020.000000   2020.000000      8.206000

In [10]:
# Counts the sum of a category in 'Area' value
temp['Area'].value_counts()

Area
Afghanistan              300
Albania                  300
Algeria                  300
American Samoa           300
Andorra                  300
                        ...
Montenegro                75
Serbia                    75
Serbia and Montenegro     70
Sudan                     50
South Sudan               50
Name: count, Length: 247, dtype: int64

In [ ]:
# Countries to keep
areas_to_keep = ['China', 'Germany', 'Japan', 'United States of America']

# Filter the data
evolution = temp[(temp['Flag Description'] != 'Data Not Available') &
                 (temp['Months'] == 'Meteorological year') &
                 (temp['Area'].isin(areas_to_keep))].reset_index()

#Rename Areas
evolution['Area'] = evolution['Area'].replace(to_replace=['United States of America'],
                                              value = 'United States')

#